.PeopleYouKnow {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  cursor: pointer;
}

/* width */
.PeopleYouKnow::-webkit-scrollbar {
  height: 2px;
}

/* Track */
.PeopleYouKnow::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.PeopleYouKnow::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.PeopleYouKnow::-webkit-scrollbar-thumb:hover {
  background: #555;
}
