.Chat {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.Chat:hover {
  background-color: var(--color-input-bg);
}

.active {
  background-color: var(--color-input-bg);
}

.Chat-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.Chat-userName {
  font-size: 2rem;
  color: var(--color-secondary-text);
  text-transform: capitalize;
  margin-bottom: 0.7rem;
}

.Chat-lastMessage {
  font-size: 1.5rem;
  color: var(--color-secondary-text);
}

.Chat-time-unread {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Chat-time {
  font-size: 1.3rem;
  font-weight: bolder;
  margin-bottom: 0.7rem;
}

.Chat-unread {
  font-size: 1.4rem;
  color: var(--color-error);
  font-weight: bolder;
}
