.Toast {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: var(--color-secondary);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 25;
}

.Toast-hide {
  display: none;
}

.Toast-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--color-primary-text);
}

.Toast-message {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary-text);
  margin-top: 1rem;
}

.Toast-info {
  background-color: var(--color-info);
}

.Toast-warning {
  background-color: var(--color-warning);
}

.Toast-error {
  background-color: var(--color-error);
}

.Toast-success {
  background-color: var(--color-success);
}
