@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

:root {
  --color-primary: #7269ef;
  --color-secondary: #f5f7fb;
  --color-primary-text: #495561;
  --color-secondary-text: #495561;
}

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: var(--color-secondary);
}
