@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

:root {
  --color-primary: #7269ef;
  --color-primary-light: #857ee6;
  --color-secondary: #f5f7fb;
  --color-primary-text: #495561;
  --color-secondary-text: #495561;
  --color-gray-text: #7e8aa0;
  --color-white: #ffffff;
  --color-input-bg: #e6ebf5;
  --color-error: #c92432;
  --color-error-light: #fffafa;
  --color-bg-active: #f7f7ff;
  --color-online-status: #06d6a0;
  --color-busy-status: #ffd166;
  --color-info: #17d7a0;
  --color-error: #ff6d6d;
  --color-warning: #ffab4c;
  --color-success: #69dadb;
}

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: var(--color-secondary);
}

.hide {
  display: none !important;
  opacity: 0;
}
