.SearchInput {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  position: relative;
}

.SearchInput-input {
  width: 100%;
  padding: 1.6rem 4rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--color-input-bg);
}

.SearchInput .material-icons-outlined {
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  color: var(--color-gray-text);
}

.SearchInput-input::placeholder {
  color: var(--color-gray-text);
}
