.Navigation {
  width: 100%;
  height: 100%;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
}

.Navigation-links {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Navigation-icon > :first-child {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray-text);
  font-size: 3.5rem;
  cursor: pointer;
}

.setting-icon {
  display: none !important;
}

.Navigation-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active {
  background-color: var(--color-bg-active);
}

.active .material-icons-outlined {
  color: var(--color-primary);
}

@media only screen and (max-width: 1280px) {
  .Navigation-logo {
    display: none;
  }
  .Navigation {
    width: 100%;
    height: 100%;
    padding: 0rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    position: sticky;
    bottom: 0;
  }

  .Navigation-links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .Navigation-setting {
    display: none;
  }

  .setting-icon {
    display: block !important;
  }
}
